@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*, p, div, input {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.status-error {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
  padding: 0.4em;
}

.status-success {
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid green;
  padding: 0.4em;
  color: white;
}

div.bred {
  background-color: red;
}